* {
    box-sizing: border-box;
}

header, footer {
  background-color: grey;
  color: white;
  padding: 10px;
  clear: both;
  border: solid 1px;
}

nav {
  float: left;
}

article {
  clear: right;
  margin-left: 300px;
}

spam {
  bold;
}

a.no_decoration {
  text-decoration: none;
}
