body {
    background-color: white;
}

h1 {
    color: navy;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
  text-align: left;
}

th, td {
    padding: 5px;
}

a {
  
}
